/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
/* Front Page Header */
 
.front #zone-branding-wrapper {
	background-image:url(../../../../default/files/head_foot/header.png);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 300px;
}

.front #region-branding {
	margin-top:175px;
}

.front #region-search {
	margin-top:200px;
}

/* Secondary Pages Header */

#zone-branding-wrapper {
	background-image:url(../../../../default/files/head_foot/sm-header.png);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 220px;
}

#region-branding {
	margin-top:95px;
}

#region-search {
	margin-top:120px;
}

/* Omnipresent Searchbox */

#quicktabs-container-tabbed_header_searchbox {
	background-color: #FFF;
	padding: 10px;
	margin-top: -10px;
	height: 45px;
}

#encore_searchform {
	margin-bottom: 3px;
}

/* Branding */

#logo {
	width: 170px;
	margin-left: 15px
}

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	height:200px;
	width:620px;
}

/* Footer */

#zone-footer-wrapper li {
	list-style-type: none;	
}

#region-footer-first, #region-footer-second, #region-footer-third, #region-footer-fourth {
	background: #65679c;
	color: #F0F0F0;
	height: 185px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
}

#region-footer-first {
	padding-left: 20px;
	padding-right: 0px;
}

#region-footer-fifth {
	height: 70px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	background: #CCC;
}

#block-jeffcolibrary-blks-foot-copyright {
	float: left;
	margin-top: 16px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
}

#block-jeffcolibrary-blks-foot-address-phone {
	float: right;
	margin-left: 0px;
	margin-right: 0px;
	text-align: right;
	padding-right: 10px;
}

#block-jeffcolibrary-blks-foot-connect #social_media_icons img {
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 9px;
}

#block-jeffcolibrary-blks-foot-connect #textfield {
	margin-top: 7px;
}

/* ------------- Research -------------- */

/* Seasonal Guide teasers */

.field-name-field-seasonal-guide-image {
	float: left;
	padding-right: 20px;
}

.field-name-field-guide-teaser {
	float: right;
	width: 380px;
	height: 90px;
	padding-right: 50px;
	margin-right: 30px;
	background-image:url(../../../../default/files/guide_images/arrow_seasonal_guides.gif);
	background-position: right;
	background-repeat: no-repeat;
}

.view-seasonal-guides .views-row {
	padding-bottom: 25px;
}

/* Subject Guide full nodes */

.group_getstart1, .group_getstart2, .group_getstart3, .group_getstart4, .field-name-field-guide-find-more-info, .field-name-field-guide-more {
	width: 300px;
}

.group_getstart3, .group_getstart4, .field-name-field-guide-find-more-info, .field-name-field-guide-more {
	padding-top: 20px;
}

.group_getstart1, .group_getstart3, .field-name-field-guide-find-more-info {
	float:left;
	clear:left;
}

.group_getstart2, .group_getstart4, .field-name-field-guide-more {
	float:right;
}

.field-name-field-getstart1-image, .field-name-field-getstart2-image, .field-name-field-getstart3-image, .field-name-field-getstart4-image {
	float: left;
	margin-right: 20px;
}

/* Ask Us */

.icon_with_text {
	padding-top: 10px;
	padding-right: 4px;
}

/* Seasonal Guide full nodes */

.node-seasonal-guide .field-name-field-guide-more {
	float:left;
}

/* -------------- Downloads ------------- */

.views-view-grid td {
	vertical-align: top;
	padding-right: 10px;
	padding-left: 10px;
}

td.col-first {
	padding-left: 0px;
}

/* Blog posts */
.field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference .field-items, .field-type-taxonomy-term-reference .field-item {
display:inline;
float:left;
font-weight:normal;
padding-right:10px;
}

/* -------------- Kids ------------- */

/* Feature Blocks in sidebar second */

.kidsfeatureblk {
	padding: 20px;
	background-color: #dcfaf3;
}

.kidsfeatureblk #kids_feature1 {
	padding-bottom:20px;
	height: 90px;
}

.kidsfeatureblk #kids_feature2 {
	clear: left;
	height: 90px;
}
	
.kidsfeatureblk #kids_feature1 img, .kidsfeatureblk #kids_feature2 img {
	float: left;
	padding-right: 20px;
}

/* Homework Help */

.group_resource1, .group_resource3 {
	width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

.group_resource2, .group_resource4 {
	width: 300px;
	margin-bottom: 20px;
	float: right;
}

#block-views-homework-help-a-z-block .field-type-image {
	float:left;
}

#block-views-homework-help-a-z-block .field-type-link-field {
	float: right;
	margin-left: 20px;
	width: 140px;
}












